<h2>Welcome to URL Shortener!</h2>

{% if message %}
<h3> {{ message }} </h3>
{% endif %}

<form action="" method="POST">
    <label for="long_url">Enter Long URL: </label>
    <input type="text" name="long_url" id="long_url">
    <input type="submit" value="generate">
</form>

{% if short_url %}
<br>
<hr>
<br>
<label>Long URL: </label>
<input type="text" disabled value="{{ long_url }}">
<label>Shortened URL: </label>
<input type="text" disabled value="http://127.0.0.1:5000/{{ short_url }}">
{% endif %}