@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*
{
    padding: 0;
    margin: 0;
    /* border: solid red 2px; */
}

html
{
    font-family: 'Open Sans', sans-serif;
}

body
{
    background: #0F1212;
    color: aliceblue;
}

header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6495ED;
    margin: 1em;
    padding: 1em;
}

.kata-main-title
{
    text-decoration: none;
    color: #6495ED;
    font-size: 1.5em;
}

.id{
    margin: 30px;
}

nav
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
}

ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul > li
{
    margin: 0.5em;
    padding: 0.5em;
}

nav ul > li > a, .redirect-home
{
    text-decoration: none;
    color: #6495ED;
    padding: 5px;
    border-radius: 2px;
    font-weight: 700;
    transition: all 0.25s;
}

nav ul > li > a:hover
{
    text-decoration: none;
    background-color: #6495ED;
    color:  #0F1212;
}


main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    margin: auto;
    width: 90vw;
}


.form, .output, .user
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    font-size: 1.5em;
}



.kata-greeting
{
    color: #6495ED;
    font-size: 1.25em;
    font-weight: 700;
}


.custom-slug-message
{
    margin: 1em;
}

/* .user
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    margin-top: 1em;
    font-size: 1.25em;
} */


.user-greeting
{
    font-size:1.25em;
    margin: 1em;
}


.form > input, .user > input, .output > input, .output > button, .user-short-url-copy, textarea
{
    width: 80%;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    border: solid #6495ED 2px;
    background-color: #0F1212;
    color: lightblue;
    font-size: 1em;
}


.user > input
{
    margin-left: 0;
}

.form > input[type='submit'] , .user > input[type='submit'], .output > button, .user-short-url-copy
{
    color: aliceblue;
    background-color: #6495ED;
    font-size: 1em;
    cursor: pointer;
}


.message, .copy-success-message, .user-copy-success-message
{
    /* border: dashed #6495ED 5px; */
    background-color: #ed4245;
    color: white;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    margin-top: 1.5em;
    font-size: 1em;
}

.auth-success-message
{
    background-color: #259949;
    color: white;
}

.copy-success-message, .user-copy-success-message
{
    display: none;
    background-color: #259949;
    color: white;
}

.user-copy-success-message
{
    font-size: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hidden
{
    display: none;
    /* height: 0px;
    width: 0px; */
}

.user-urls-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 90vw;
    word-wrap: break-word;
    margin: 1em;
}

.user-url
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid #6495ED 2px;
    border-radius: 5px;
    margin: 0.5em;
    padding: 1em;
    width: 20vw;
    font-size: 1.5em;
    font-weight: 700;
    color: #6495ED;
    position: relative;
}

.user-long-url, .user-short-url, .user-url-click-count
{
    font-size: 0.75em;
    font-weight: 400;
    margin: 0.5em;
    color: aliceblue;
}


.user-short-url-copy
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5em;
    font-size: 0.5em;
    padding: 0.5em;
    width: 40%;
}


footer
{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1em;
}

.footer-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}



.dheeraj-github
{
    color: #6495ED;
    font-weight: 700;
    text-decoration: none;
    padding: 0.25em;
    margin: 0.25em;
    border-radius: 2px;
    transition: all 0.25s;
}




.footer-links
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-links > a   
{
    text-decoration: none;
    margin: 0.25em;
    padding: 0.25em;
    color: #6495ED;
    font-size: 1em;
    border-radius: 2px;
    transition: all 0.25s;
}

.dheeraj-github:hover, .footer-links > a:hover
{
    background-color: #6495ED;
    color: #0F1212;
}



.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}


.privacy
{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1em;
    margin: auto;
    width: 60vw;
}

.privacy > .privacy-content > * > h4
{
    color: #6495ED;
}

.privacy > ul, .usage > ul
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:left;
    margin: auto;
    margin-top: 1em;
}



.privacy > ul > li, .usage > ul > li
{
    margin: 0.5em;
    text-align: left;
}

.privacy-content
{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

.register, .use-services, .interact, .cookies, .children, .usage, .shared-info, .retention, .security, .choice, .contact
{
    margin: 0.5em;
}

.contact > a , .about-links
{
    color: #6495ED;
    text-decoration: none;
    border-radius: 2px;
    padding: 0.25em;
    transition: all 0.25s;
}

.contact > a:hover, .about-links:hover
{
    background-color: #6495ED;
    color:  #0F1212;
}

.about
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    width: 70vw;
    padding: 1em;
    
}


@media screen and (max-width:768px)
{
    *
    {
        /* border: solid red 2px; */
    }
    main, header
    {
        /* border: solid red 2px; */
        width: 90vw;
        padding: 0.25em;
        margin: auto;
        margin-top: 1em;
    }

    header > h1
    {
        font-size:3em;
    }

    header > h2
    {
        font-size:1.25em;
    }
    .form, .output
    {
        font-size: 1.25em;
    }
    
    /* .form > input[type='submit'] , .user > input[type='submit'], .output > button, .user-short-url-copy
    {
        margin: 0.25em;
        padding: 0.25em;
    } */


    .custom-slug-message
    {
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .user-urls-container
    {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
        width: 90vw;
    }
    .user-url
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid #6495ED 2px;
        border-radius: 5px;
        /* margin: auto; */
        margin: 0.5em;
        padding: 0.5em;
        width: 80vw;
        font-size: 1.25em;
        font-weight: 700;
    }

    .user-long-url, .user-short-url, .user-url-click-count
    {
        font-size: 0.75em;
        font-weight: 400;
        margin: 0.5em;

    }
    .github-corner:hover .octo-arm
    {
        animation: none
    }

    .github-corner .octo-arm
    {
        animation: octocat-wave 560ms ease-in-out
    }

    .privacy 
    {
        font-size: 1em;
        width: 90vw;
        text-align: center;
    }

    .register, .use-services, .interact, .cookies, .children, .usage, .shared-info, .retention, .security, .choice, .contact
    {
        margin: 0.75em;
        margin-top: 1em;
    }

    .about
    {
        /* text-align: center; */
        width: 90vw;
    }
}