<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A URL Shortener.">
        <meta name="keywords" content="URL, URL Shortener, Links, URLs, urls, url shortener, url">
        <meta name="author" content="Dheeraj Lalwani">
        <meta property="og:site_name" content="Kata">
        <meta property="og:title" content="Kata">
        <meta property="og:type" content="website">
        <meta property="og:description" content="A URL Shortener.">
        <meta property="og:url" content="https://kata-flask.herokuapp.com/">
        <meta property="og:image" content="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:text:title" content="Kata - The Only URL Shortener You Need.">
        <meta name="twitter:description" content="This is a URL Shortener.">
        <meta name="twitter:title" content="Kata - The Only URL Shortener You Need.">
        <meta name="twitter:image" content="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}}">
        <meta name="twitter:site" content="@dhirucodes">
        <meta name="twitter:creator" content="@dhirucodes">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}?ver={{ now }}">
        <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
        {% block head %}{% endblock %}
    </head>

    <body>
        <header>
            <h1>Kata</h1>
            <h2>The only URL Shortener you need</h2>
            {% include 'nav.html' %}
        </header>
        <main>
            {% block body %} {% endblock %}
        </main>
        <script src="{{ url_for('static', filename='copy.js') }}"></script>
    </body>
</html>