{% extends 'base.html' %}

{% block head %}
<title>Register: URL Shortener</title>
{% endblock %}

{% block body %}
<h2>Register to URL Shortener</h2>

{% if message %}
<h3> {{ message }} </h3>
{% endif %}

<form action="" method="POST">
    <label for="email">Enter Email: </label>
    <input type="email" name="email" id="email">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Register">
</form>
{% endblock %}